.checkOut {
    display: flex;
    flex-direction: column;
}

.btnEliminar, .btnClear, .btnFinalizar, .btnVolver {
    width: fit-content;    
    font-family: 'Quicksand', sans-serif;
    margin: 2% auto;
    color: white;
    background-color: #a10e0ef0;
    border: hidden;
    border-radius: 15px;
    font-size: 1rem;
    padding: 1% 2%;
}

.btnFinalizar {
    background-color: #03fb56;
    margin: 1%;
}
.btnClear, .btnVolver {
    background-color: #0e9da1f0;
    margin: 1%;
}


.cartTitle {
    margin: 2% auto;
}

.checkOut {
    border: 1px solid;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin: 0 0 0 5%;
}

.cartContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cartCheckout {
    align-self: center;
}

.h2Vacio {
    margin: 10% auto 2%;
}

