.checkOut {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin: 0 0 0 5%;
}

.btnEliminar, .btnClear, .btnContinuar, .btnVolver {
    width: fit-content;    
    font-family: 'Quicksand', sans-serif;
    margin: 2% auto;
    color: white;
    background-color: #a10e0ef0;
    border: hidden;
    border-radius: 15px;
    font-size: 1rem;
    padding: 1% 2%;
}

.btnContinuar {
    background-color: #03fb56;
    margin: 1%;
    padding: 1.4% 1.7%;
}
.btnClear, .btnVolver {
    background-color: #0e9da1f0;
    margin: 1%;
}

.cartTitle {
    margin: 2% auto;
}

.cartIzq {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cartDer {
    align-self: center;
}

.h2Vacio {
    margin: 10% auto 2%;
}

