
.navContainer1 {
    height: 15vh;
    position: relative;
}

.navContainer1 svg {
    position: absolute;
    top: 6%;
    left: 1%;
}
.navContainer2 {
    display: flex;
    justify-content: space-evenly;  
}
.navContainer2 a {        
    color: #000000;
    text-decoration: none;       
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.navContainer2__item {
    display: flex;
    flex-direction: column;   
    align-items: center;
    margin: 0 0 8% 0;
    cursor: pointer;
}
.navContainer2__item label {
    cursor: pointer;
}
.navContainer2__item--icono {
    font-size: x-large;
    margin: 0 0 5% 0;
}



.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.mx-1 {
    position: absolute;
    color: white;
    top: -16%;
    padding: 10%;
    left: 50%;
    background: #c50606b3;
    border-radius: 50%;
    width: 100%;    
    font-size: 0.9rem !important;
}

.toCart {
    position: relative;
}