
.navContainer1 {
    height: 15vh;
    position: relative;
}

.navContainer1 svg {
    position: absolute;
    top: 6%;
    left: 1%;
}
.navContainer2 {
    display: flex;
    justify-content: space-around;  
}
.navContainer2 a {        
    color: #000000;
    text-decoration: none;       
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.mx-1 {
    position: absolute;
    color: white;
    top: -16%;
    background: #c50606b3;
    border-radius: 50%;
    width: 100%;    
    font-size: 0.9rem !important;
}

.toCart {
    position: relative;
}