.card {
    width: 200px;
    border: 2px solid #cebfbf99;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-inline: 0.5rem;
    box-shadow: 0 2px 20px 0px rgb(212 212 212);
    transition: transform 200ms ease-in;
  }
  .card:hover {
    transform: scale(1.02);
  }
  .title {
    margin: 1rem 0.5rem;
    color: rgb(2, 0, 0);
  }
  .titleDiv {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageContainer {
    width: 100%;
    height: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 200px;
  }
  .description {
    margin: 1rem 0.5rem 0.5rem;
  }
  .price {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.5rem;
  }
  .button {
    margin: auto;
    margin-bottom: 1rem;    
    padding: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #22ab7f;
    color: #000000;
    background-color: white;
    transition: background 200ms ease-in, color 200ms ease-in; 
    border-radius: 5px;
    cursor: pointer;   
  }
  .button:hover {
    background: #22ab7f;
    color: white;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
  }