.img-wrapper-carousel {
    height: inherit;
    
}

.img-wrapper-carousel img {           
    height: inherit;
}

.carousel.slide {       
    box-shadow: 0px 2px 20px #0000004f;
    height: inherit;
}

.carousel-inner {
    height: inherit;
}

.carousel-item .carousel-caption {
    bottom: 38.25rem;
}