
.navContainer1 {
    height: 19vh;
}
.navContainer2 {
    display: flex;
    justify-content: space-around;  
}
.navContainer2 a {    
    
    color: #f8f9fa;
    text-decoration: none;       
    font-family: 'Montserrat', sans-serif;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.mx-1 {
    position: absolute;
    color: white;
    top: -12%;
    background: #c50606b3;
    border-radius: 50%;
    width: 100%;
    font-size: 0.5em;
}

.toCart {
    position: relative;
}