
.navContainer {
    display: flex;
    justify-content: space-around;  
}
.navContainer a {
    margin: 9% 0 0 0;
    font-size: 1.5em;
    color: #f8f9fa;
    text-decoration: none;       
}


.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.mx-1 {
    position: absolute;
    color: white;
    bottom: 75%;
    left: 55%;
    background: #22ab7fbf;
    border-radius: 2em;
    padding: 2% 20%;
    font-size: 0.5em;
}

.toCart {
    position: relative;
}