.img-wrapper-carousel {
    height: 50%;
    
}

.img-wrapper-carousel img {
    border-radius: 10px;        
}

.carousel.slide {    
    border-radius: 10px;
    box-shadow: 0px 2px 20px #0000004f;
}

.carousel-inner {
    border-radius: 10px;
}