
* , *::after, *::before{
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body {
  --btnGreen: #20b79a;
}
.App-header {
  
  background: linear-gradient( rgb(189 158 155 / -63%) 57%, rgb(28 28 28 / 87%)91%),url(https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);  min-height: 25vh;  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

html a {
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}
html a:hover {
  color: rgb(212, 212, 212);
}

.carouselContainerHome {
  height: 300px;
}


/*color: darken($color: #a5b2c2, $amount: 21);*/